@import url(https://fonts.googleapis.com/css?family=Marck+Script|Open+Sans:600,400&subset=latin,latin-ext);

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family: 'Open Sans', sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.ui-header h1.ui-title {
  font-family: 'Marck Script', cursive;
  font-size: 1.7em;
  padding: 3px 0 3px 0;
}

p {
    font: 1.2em;
}

#logs {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
}

#logs .head {
    height: 20%;
}

#logs span.msg {
    height: 80%;
    font-size: 0.6em;
}

#logs li {
    white-space: normal;
}

#logs li.log {
    background: #D9EDF7;
}

#logs li.warn {
    background: #FCF8E3;
}

#logs li.error {
    background: #F2DEDE;
}

#logs li.debug {
    background: #428BCA;
}
